NEXT_PUBLIC_SOLANA_RPC_HTTP=http://127.0.0.1:8899
NEXT_PUBLIC_SOLANA_RPC_WS=ws://127.0.0.1:8900
NEXT_PUBLIC_SOLANA_CLUSTER=localnet
NEXT_PUBLIC_PROGRAM_ID=9VHZhNZkrsocLmafGBmbG2mCiAnwA1WaBTG1aNb2kr4j
INDEXER_API_URL=http://127.0.0.1:8787
