NEXT_PUBLIC_SOLANA_RPC_HTTP=http://127.0.0.1:8899
NEXT_PUBLIC_SOLANA_RPC_WS=ws://127.0.0.1:8900
NEXT_PUBLIC_SOLANA_CLUSTER=localnet
NEXT_PUBLIC_PROGRAM_ID=FvnWFJpAfdps7tTYzcg2ByKHufRxN7RyiLni1oB3jFaX
INDEXER_API_URL=http://127.0.0.1:8787
