SOLANA_RPC_HTTP=http://127.0.0.1:8899
SOLANA_RPC_WS=ws://127.0.0.1:8900
PROGRAM_ID=8hDEL5BuW2BgeMuCBKqZyRubGTqFmx8Ds3PQ2k6puJym
MONGODB_URI=mongodb://127.0.0.1:27017
MONGODB_DATABASE=meme_lend
HOST=0.0.0.0
PORT=8787
WEB_ORIGIN=http://localhost:3000
